html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.title {
    font-size: 25px;
}

/* 検索セクション*/
#search{
    background-image: url('../storage/barley.jpg');
    background-size:cover;
    height:500px;  
    text-align:center;
    color:white;
}

#search > .container{
    padding-top: 150px;_
}



/* 写真のホバー時の動き　*/
.ph-style-base{
    background-color: black;    
    display: block;
    position: relative;
    height: 200px;
    width: 300px;
}

.mask{
    opacity: 0;
    position: absolute;
　  top:0;
    color: white;
    margin: auto;   
    width: 300px;
}

.ph-style:hover{
    opacity:0.5;
}

.ph-style-base:hover .mask{
    opacity: 1;
}

/*photo*/
#top-photo{
    text-align: center;
}

/*フッター*/

footer{
    background-color: #33383c;
    padding:30px 0px;
    margin-top: 120px;
}          

.logo{
    color:#FFF;
    font-weight:700;
    font-size:30px;
}

.address span , .menu span{
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
 
.address li a , .menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

.address li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.address .fa{
    color: #da3e44;
    margin-right: 10px;
    font-size:18px;
}